
{% extends 'base.html' %}

{% block title %}
	Password Reset
{% endblock  %}

 {% block nav %}
  <div class="p-0 m-0 bg-info " style="height: 60px; background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);" >
      {% include 'nav.html' %}
    </div>
  {% endblock %}


{% block content %}
		<h1>Set a new password</h1>
		<form method="post">
		{% if validlink %}
			{% csrf_token %}
			{{ form.as_p }}
		<button type="submit">Save</button>
		{% else %}
			<p style="color: red">Invalid Link</p>
			<p>
				<a href="{% url 'password_reset' %}">Reset password</a>
			</p>
		{% endif %}
		</form>
	
	
{% endblock  %}
