
{% extends 'base.html' %}

{% block title %}
	Password Reset
{% endblock  %}


 {% block nav %}
  <div class="p-0 m-0 bg-info " style="height: 60px; background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);" >
      {% include 'nav.html' %}
    </div>
  {% endblock %}


{% block content %}
	<div class="h1">Password Reset Complete</div>
 	<div class="p">Yoou can now <a href="{% url 'login' %}">Log in </a> again.</div>
		
{% endblock  %}
